@{
    ViewBag.Title = "Home Page";
}



<h1 style="display:inline-block">
    BUS RESERVATION SYSTEM</h1>


<div style="text-align:center">

    <div class="jumbotron" style="display:inline-block">
        
        <label>To : </label> 
        <input type="text"/><br /><br />
           
        <label>From : </label> <br />
        <input type="text" /><br /><br />
        
        <label>Date of Journey :</label><br />
        <input class="date" type="date"><br /><br />

        <label> Category :</label><br />
        <input type="text" /><br /><br />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Search" />
                </div>
            </div>

      </div>

 </div>

